.footer {
    background-color: #eeece8;
}

.footer__developers {
    text-align: center;
}

.footer__politics {
    text-align: center;
}

.footer__politics-link {
    text-decoration: none;
    color: rgb(5, 5, 5);
}

.footer__politics-link:hover {
    color: rgb(45, 105, 70);
    text-decoration: underline;
}